#searchcontainer {
  float: right;
  position: relative;
  top: 100px;
  /* right: 100px; */
  background-color: rgba(0, 0, 0, 0.7);
}

h3 {
  color: white;
  text-align: center;
}
#search {
  padding: 8px 15px;
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
}

#submit {
  position: relative;
  padding: 6px, 15px;
  right: 1px;
  border: 2px solid #207cca;
  padding: 10px;
  background-color: #207cca;
  color: #fafafa;
}

#submit:hover {
  background-color: #fafafa;
  color: #207cca;
}

.snackbutton {
  margin: 5px;
  background-color: #207cca;
  color: #fafafa;
}

.snackbutton:hover {
  background-color: #fafafa;
  color: #207cca;
}

body {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.ratingtxt {
  font-weight: bold;
}

.container {
    background-color: rgba(255, 255, 255, .7);
}