#searchcontainer {
  float: right;
  position: relative;
  top: 15px;
  /* right: 100px; */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
  position: relative;
  left: 15px;
}
h3 {
  color: white;
  text-align: center;
}
#search {
  padding: 8px 20px;
  background: rgba(134, 41, 41, 0.4);
  border: 0px solid #dbdbdb;
  z-index: 1000;
  color: white;
  position: relative;
  width: auto;
  border: 0;
}
#submit {
  position: relative;
  padding: 6px, 5px;
  border: 2px solid #207cca;
  padding: 10px;
  background-color: #207cca;
  color: #fafafa;
  z-index: 1000;
}
#submit:hover {
  background-color: #fafafa;
  color: #207cca;
}
.snackbutton {
  margin: 5px;
  background-color: #207cca;
  color: #fafafa;
}
.snackbutton:hover {
  background-color: #fafafa;
  color: #207cca;
}
body {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.ratingtxt {
  font-weight: bold;
  z-index: 1000;
}
.container {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 0;
}
